<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Início</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></i></li>
      <li class="social"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      <li class="social"><a href="http://github.com/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li class="social"><a href="mailto:{{site.social-email}}" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
  </div>
</nav>
