pre,
code {
  font-family: $monospaced;
}

code {
  background-color: var(--color-code-bg);
  border-radius: 4px;
  color: var(--color-code);
  font-size: 85%;
  padding: .25em .5em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  background-color: var(--color-code-bg);
  border-radius: 6px;
  line-height: 1.5;
  margin: 0 0 1rem;
  padding: 1.25rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: var(--color-tint);
    display: inline-block;
    padding: 0 .75rem 0 .25rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
