---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Escrito por</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}
    {% if page.date %}
      <br>
      <span>em&nbsp;</span>
      <time datetime="{{ page.date | date_to_xmlschema }}">{% include date.html date=page.date %}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <span>{% capture words %}{{page.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min para ler" }}{% endunless %}</span>
  </div>
  <br>
  <div class="post-line"></div>
  {{ content }}
  <br>
  <div class="tags-clouds">
      <span>Tags:</span>
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
      {% endfor %}
  </div>
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Topo</a>
</div>